<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>잡아라 - 기업정보 company_test</title>
    <!-- <link rel="stylesheet" href="../../static/js/swiper.min.js">
    <style>
        html,
        body {
            position: relative;
            height: 100%;
        }

        .swiper-container {
            width: 100%;
            height: 30vmin;
            background: #f6f6f6;
        }

        .swiper-slide {
            box-sizing: border-box;
            font-size: 1.8vmin;
            background: #fff;
            padding: 4%;
        }
    </style> -->
</head>
<body>


    {{ data_list}}


</body>