<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>data | JOBARA</title>
</head>
<body>
    <div class="main-div"></div>
        <ul class="ul">
            <li class="li">
                <span>2021구인인원</span>
                <p class="grid-sub-text">{{ data_list[0].All_Recruit}}</p>
            </li>
            <li class="li">
                <span>2021채용인원</span>
                <p class="grid-sub-text">{{ data_list[0].All_Employ}}</p>  
            </li>
        </ul>
    </body>
        

    <script src="https://kit.fontawesome.com/4a9dbb7224.js" crossorigin="anonymous"></script>
</body>
    
</body>
</html>