<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main-css.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/swiper.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/aos.css') }}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/swiper.min.js') }}"></script>
</head>


<body>
    <header>
        <nav class="header-nav">
            <div class="header-div-left">
                <a class="header-a-tag-none-logo" href="/">
                    <div>
                        <span class="job">잡<span class="ara">아라</span></span></div>
                    <!-- <a class="header-logo">
                        <img class="logo-image" src="{{ url_for('static', filename='source/logo.png') }}">
                    </a> -->
                </a>
            </div>
            <div class="header-div-right">
                <div class="header-div-top">
                    {% if session.get('logFlag')%}

                    <div><a class="header-a-tag-none" href="/logout_proc">로그아웃</a>
                        <a class="header-a-tag-none" href="/faq">자주묻는 질문</a>
                        <a class="header-a-tag-none" href="/qna">문의하기</a> <a class="header-a-tag-none"
                            href="/my_page">마이페이지</a>
                        <a class="header-a-tag-none">{{ session['ID']}}님 환영합니다.</a>
                    </div>
                    {% else %}
                    <div>
                        <!-- 회원가입은 로그인 페이지 안으로 이동 -->
                        <a class="header-a-tag-none" href="/faq">자주묻는 질문</a>
                        <a class="header-a-tag-none" href="/qna">문의하기</a>
                        <a class="header-a-tag-none" href="/join_form_get">회원가입</a>
                        <a class="header-a-tag-none" href="/login_form_get">로그인</a>
                    </div>
                    {% endif %}
                </div>
                <div class="header-div-lower">
                    <a class="header-a-tag-none-lower"href="/introduction">회사소개</a>
                    <a class="header-a-tag-none-lower" href="/condition">기업정보</a>
                    <a class="header-a-tag-none-lower"href="/excellence_employment">채용정보</a>
                    <a class="header-a-tag-none-lower" href="/trend">구직 트렌드</a>
                    <a class="header-a-tag-none-lower"href="/event">이벤트</a>
                </div>
            </div>
        </nav>
    </header>
</body>

</html>