<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>index</title>
	<link rel="stylesheet" href="../../static/css/styles.css" />
	<link rel="stylesheet" href="../../static/css/aos.css" />
	<!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	<!-- slider styles -->

	
	<style>
		.swiper-container {
			width: 100%;
			height: 80vmin;
		}
		.swiper-slide {
			text-align: center;
			font-size: 18px;
			background: #fff;
			/* Center slide text vertically */
			display: -webkit-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			-webkit-justify-content: center;
			justify-content: center;
			-webkit-box-align: center;
			-ms-flex-align: center;
			-webkit-align-items: center;
			align-items: center;
		}
	</style>

	<script type="text/javascript">
		// function commpanypage(e) {
			// 자바스크립트로 링크 이동하기 : location.href
			// var link = document.getElementById("data_id").value;
			// location.href = "/company/" + link;
			// form에서는 페이지 이동 전에 데이터가 들어있는지 확인이 번거롭다.
			// 데이터를 확인하고 그 데이터를 가지고 링크를 이동하기 위해서는 
			// 자바스크립트에서 데이터 확인을 거치고 직접 보내주는 것이 좋다
		// }
	</script>
</head>

<body>
	{% include '/Board/header.html' %}
	<div class="main-div">
		<section class="main-section">
			<div class="main-section-slider-div">
				<div class="swiper-container">
					<div class="swiper-wrapper">
						{% for i in range(4) %}
						<div class="swiper-slide">Slide {{i}}</div>
						{% endfor %}
					</div>
					<!-- Add Pagination -->
					<div class="swiper-pagination"></div>
				</div>
			</div>
			<tbody>
				<div class="search-bar-div">
					<div class="search-frame">
						<input type="text" id="schTxt" name="schTxt" class="input-text">
					</div>
				</div>
				<article class="recommend-div">
					<div>
						<h1>실시간 인기 중소기업</h1>
					</div>
					<div>
						<a class="a-text-decoration" href="/condition">전체보기</a>
					</div>
					<form method='post' action="/">
						<ul class="main-gird-ul">
						{% for x in range(6) %}
							<!-- <a class="a-text-decoration a-color aos-item" name="cookie" onclick="commpanypage('{{x}}')" -->
							<!-- style="cursor:pointer" data-aos="fade-right"> -->
                     <!-- 위 자바스크립트 기능 구현이 안 되서 작동하는 코드로 아래 넣어둡니다-->
                  <a class="a-text-decoration a-color aos-item" name="cookie" href='/company/{{data_list[x].data_id}}' style="cursor:pointer" data-aos="fade-right">
							<li class="main-gird-li">
								<span class="grid-sub-blue">{{ data_list[x].main_product }}</span>
								<p class="grid-title">{{ data_list[x].company }}</p>
								{% if data_list[x].employment != '-' %}
								<p class="grid-sub-text">{{ data_list[x].employment }}</p>
								{% endif %}
								
								{% if data_list[x].tag != '-' %}
								<p class="grid-sub-text">{{ data_list[x].tag }}</p>
								{% endif %}
							</li>
						</a>
						{% endfor %}
					</ul>
					</form>
				</article>
				<section class="bg-47 bg-index">
					<article class="frame-middle">
						<div class="main-company-search-area">
                     <div class="fl w50">
                        <h1 class="tit cw nm">어떤 조건의<br>중소기업을 찾고 계신가요?</h1>
                        <h1 class="cw">인재님에 대해 알려주시면 우수 기업을 추천해 드릴게요!</h1>
                     </div>
                     
							<!-- <form class="selectBoxList fl w50" id="searchform" action="/condition"> -->
                     <form name="searchform" id="searchForm" class="selectBoxList fl w50" method="get" action="/condition">
								<!-- selectBox1 -->
								<div class="qustion f2"><strong>01</strong><span>일하고 싶은 지역은 어디신가요?</span></div>
								<div class="box f1"> 
									<div class="selectBox2 ">
										<button type="button" class="label">지역 🍊</button>
										  <ul class="optionList" id ="companyListArea">
                                    <li class="optionItem" data-value="서울"><input type="checkbox"id="전체" value="전체" class="checkbox">
                                       <label for="check-100">전체</label></li>
                                    <li class="optionItem" data-value="서울"><input type="checkbox" id="check-서울"
                                          class="checkbox" name="areatag" value="서울" data-name="서울">
                                       <label for="check-서울">서울</label></li>
                                    <li class="optionItem" data-value="부산"><input type="checkbox" id="check-부산"
                                          class="checkbox" name="areatag" value="부산" data-name="부산">
                                       <label for="check-부산">부산</label></li>
                                    <li class="optionItem" data-value="대구"><input type="checkbox" id="check-대구"
                                          class="checkbox" name="areatag" value="대구" data-name="대구">
                                       <label for="check-대구">대구</label></li>
                                    <li class="optionItem" data-value="인천"><input type="checkbox" id="check-인천"
                                          class="checkbox" name="areatag" value="인천" data-name="인천">
                                       <label for="check-인천">인천</label></li>
                                    <li class="optionItem" data-value="광주"><input type="checkbox" id="check-광주"
                                          class="checkbox" name="areatag" value="광주" data-name="광주">
                                       <label for="check-광주">광주</label></li>
                                    <li class="optionItem" data-value="대전"><input type="checkbox" id="check-대전"
                                          class="checkbox" name="areatag" value="대전" data-name="대전">
                                       <label for="check-대전">대전</label></li>
                                    <li class="optionItem" data-value="울산"><input type="checkbox" id="check-울산"
                                          class="checkbox" name="areatag" value="울산" data-name="울산">
                                       <label for="check-울산">울산</label></li>
                                    <li class="optionItem" data-value="세종"><input type="checkbox" id="check-세종"
                                          class="checkbox" name="areatag" value="세종" data-name="세종">
                                       <label for="check-세종">세종</label></li>
                                    <li class="optionItem" data-value="경기"><input type="checkbox" id="check-경기"
                                          class="checkbox" name="areatag" value="경기" data-name="경기">
                                       <label for="check-경기">경기</label></li>
                                    <li class="optionItem" data-value="강원"><input type="checkbox" id="check-강원"
                                          class="checkbox" name="areatag" value="강원" data-name="강원">
                                       <label for="check-강원">강원</label></li>
                                    <li class="optionItem" data-value="충북"><input type="checkbox" id="check-충북"
                                          class="checkbox" name="areatag" value="충북" data-name="충북">
                                       <label for="check-충북">충북</label></li>
                                    <li class="optionItem" data-value="충남"><input type="checkbox" id="check-충남"
                                          class="checkbox" name="areatag" value="충남" data-name="충남">
                                       <label for="check-충남">충남</label></li>
                                    <li class="optionItem" data-value="전북"> <input type="checkbox" id="check-전북"
                                          class="checkbox" name="areatag" value="전북" data-name="전북">
                                       <label for="check-전북">전북</label></a></li>
                                    <li class="optionItem" data-value="전남"><input type="checkbox" id="check-전남"
                                          class="checkbox" name="areatag" value="전남" data-name="전남">
                                       <label for="check-전남">전남</label></li>
                                    <li class="optionItem" data-value="경북"><input type="checkbox" id="check-경북"
                                          class="checkbox" name="areatag" value="경북" data-name="경북">
                                       <label for="check-경북">경북</label></li>
                                    <li class="optionItem" data-value="경남"><input type="checkbox" id="check-경남"
                                          class="checkbox" name="areatag" value="경남" data-name="경남">
                                       <label for="check-경남">경남</label></li>
                                    <li class="optionItem" data-value="제주"><input type="checkbox" id="check-제주"
                                          class="checkbox" name="areatag" value="제주" data-name="제주">
                                       <label for="check-제주">제주</label></li>
                              </ul>
                           </div>
                        </div>
                        <!-- selectBox2 -->
                        <div class="qustion f2"><strong>02</strong><span>일하고 싶은 지역은 어디신가요?</span></div>
                        <div class="box fl">
                           <div class="selectBox2  ">
                              <button type="button" class="label">업종 🎈</button>
                              <ul class="optionList">
                                 <li class="optionItem"> <input type="checkbox" id="check-400"
                                       class="checkbox check-all checked" name="scaletag" value=""
                                       data-name="전체" checked="checked">
                                    <label for="check-400">전체</label></li>
                                 <li class="optionItem"> <input type="checkbox" id="check-02"
                                       class="checkbox" name="scaletag" value="02" data-name="중기업">
                                    <label for="check-02">중기업</label></li>
                                 <li class="optionItem"> <input type="checkbox" id="check-03"
                                       class="checkbox" name="scaletag" value="03" data-name="소기업">
                                    <label for="check-03">소기업</label></li>
                                 <li class="optionItem"><input type="checkbox" id="check-999"
                                       class="checkbox" name="scaletag" value="999" data-name="스타트업">
                                    <label for="check-999">스타트업</label></li>
                                 <li class="optionItem"><input type="checkbox">
                                    <label>소상공인</label></li>
                                 <li class="optionItem"><input type="checkbox">
                                    <label>한시성중소기업</label></li>
                              </ul>
                           </div>
                        </div>
                        <!-- selectBox3 -->
                        <div class="qustion f2"><strong>03</strong><span>일하고 싶은 지역은 어디신가요?</span></div>
                        <div class="box f1">
                           <div class="selectBox2">
                              <button type="button" class="label">복지 🍟</button>
                              <ul class="optionList">
                                 <li class="optionItem" value="pizza"><label for="check-600">전체</label>
                                    <input type="checkbox" id="check-600" class="checkbox check-all checked" name="welfaretag" data-name="전체" checked="checked"></li>
                                 <li class="optionItem"><input type="checkbox" id="check-W00" class="checkbox check-empty" name="welfaretag" data-name="공제·기타">
                                    <label for="check-W00">공제·기타</label></li>
                                 <li class="optionItem"><input type="checkbox" id="check-W01" class="checkbox check-empty" name="welfaretag" data-name="연금·보험">
                                    <label for="check-W01">연금·보험</label></li>
                                 <li class="optionItem"><input type="checkbox" id="check-W02" class="checkbox check-empty" name="welfaretag" data-name="교육·연수">
                                    <label for="check-W02">교육·연수</label></li>
                                 <li class="optionItem"><input type="checkbox" id="check-W03" class="checkbox check-empty" name="welfaretag" data-name="생활편의·여가행사">
                                    <label for="check-W03">생활편의·여가행사</label></li>
                                 <li class="optionItem"><input type="checkbox" id="check-W04" class="checkbox check-empty" name="welfaretag" data-name="보상·수당·지원">
                                    <label for="check-W04">보상·수당·지원</label></li>
                                 <li class="optionItem"> <input type="checkbox" id="check-W06" class="checkbox check-empty" name="welfaretag" data-name="휴무·휴가·행사">
                                    <label for="check-W06">휴무·휴가·행사</label></li>
                              </ul>
                           </div>
                        </div>
                        <!-- <button type="submit" onclick="area_search()" id="valueList" class="print-value" id="valueList_index">전송</button> -->
                        <!-- <button type="submit" onclick="checkbox_test()" id="valueList" class="print-value" id="valueList_index">전송</button> -->
                        <!-- <button type="submit" onclick="checkbox_index()" id="valueList" class="print-value" >전송</button> -->

                        <div class="print-values">
                           <p id="valueList"></p>
                        </div>
                        <button type="submit" onclick="checkbox_index()" id="valueList" class="print-value" >전송</button>
                        <!-- <button type="submit" onclick="area_search()" id="valueList" class="print-value">전송</button> -->
                     </form>
                  </div>
               </article>
            </section>
      </section>
   </div>

   <script src="../../static/js/aos.js"></script>
   <!-- <script src="../../static/js/app_conditon.js"></script> -->
   <script src="../../static/js/app_index.js"></script>
   <script>
      AOS.init({
         easing: 'ease-in-out-sine'
      });
   </script>
   <!-- Swiper JS -->
   <script src="./js/swiper.min.js"></script>
   <script>
      var swiper = new Swiper('.swiper-container', {
         loop: true,
         loopAdditionalSlides: 1,
         keyboard: {
            enabled: true,
         },
         cubeEffect: {
            shadow: true,
            slideShadows: true,
            shadowOffset: 20,
            shadowScale: 0.94,
         },
         pagination: {
            el: '.swiper-pagination',
         },
         autoplay: {
            delay: 2500,
            disableOnInteraction: false,
         },
      });
   </script>
   <script>
      const label = document.querySelectorAll('.label');
      label.forEach(function (lb) {
         lb.addEventListener('click', e => {
            let optionList = lb.nextElementSibling;
            let optionItems = optionList.querySelectorAll('.optionItem');
            clickLabel(lb, optionItems);
         })
      });
      const clickLabel = (lb, optionItems) => {
         if (lb.parentNode.classList.contains('active')) {
            lb.parentNode.classList.remove('active');
            optionItems.forEach((opt) => {
               opt.removeEventListener('click', () => {
                  handleSelect(lb, opt)
               })
            })
         } else {
            lb.parentNode.classList.add('active');
            optionItems.forEach((opt) => {
               opt.addEventListener('click', () => {
                  handleSelect(lb, opt)
               })
            })
         }
      }
      const handleSelect = (label, item) => {
         label.innerHTML = item.textContent;
         console.log(item.textContent)
         label.parentNode.classList.remove('active');
      }
   </script>

</body>

</html>