<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>채용정보 | JOBARA</title>
</head>
<body>
    {% include 'Board/header.html' %}
    <div class="main-div">
        <section class="main-section">
            <div class="title-area">
                <div class="inner">
                    <div class="public-list">
                        <ol class="public-ol">
                            <li class="public-li"><i class="fas fa-home"></i></li>
                            <li class="public-li">이달의 우수 중소기업</li>
                            <li class="public-li">일자리우수 일자리 채용정보</li>
                        </ol>
                    </div>
                    <div class="public-title">
                        우수 일자리 채용정보 1
                    </div>
                    <div class="public-title-sub">
                        「이달의 우수 중소기업 일자리」를 한눈에 확인해보세요!
                    </div>
                </div>
            </div>
            {% include '/Board/footer.html' %}

    <script src="https://kit.fontawesome.com/4a9dbb7224.js" crossorigin="anonymous"></script>
</body>
</html>