<!DOCTYPE html>
<html lang="ko">

<head>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>login_form.html</title>

    <script type="text/javascript">
        function selectAll(selectAll) {
            const checkboxes = document.getElementsByName('terms');
            checkboxes.forEach((checkbox) => {
                checkbox.checked = selectAll.checked;
            })
        }

        function Validation() {
            var RegExp = /^[a-zA-Z0-9]{4,12}$/; // 아이디 유효성 검사
            // var pwExp = /[`~!@#$%^&*(),<.>/?]+[a-zA-Z0-9]{4,12}$/; // 비밀번호 유효성검사
            var pwExp = /^(?=.*[\d])(?=.*[A-Z])(?=.*[a-z])(?=.*[!@#$%^&*()])[\w\d!@#$%^&*()]{8,20}$/;
            var emailExp = /^[A-Za-z0-9_\.\-]+@[A-Za-z0-9\-]+\.[A-Za-z0-9\-]+/; // 이메일 유효성 검사
            var nameExp = /^[가-힣]{2,4}|[a-zA-Z]{2,10}\s[a-zA-Z]{2,10}$/; // 이름 유효성 검사
            var phoneExp = /^01([0|1|6|7|8|9])-?([0-9]{3,4})-?([0-9]{4})$/; // 휴대폰번호 유효성 검사
            //(01로 시작하고 (0,1,6,7,8,9 중 하나의 문자) -은 있을수도 없을수도 (숫자만 들어가면서 3~4 길이의 문자) - 은 있을수도 없을수도 (숫자만 들어가면서 4 길이의 문자) 
            var birthExp = /^(19[0-9][0-9]|20\d{2})(0[0-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])$/; // 생년월일 유효성 검사, 19xx년도부터 가능


            var userId = document.getElementById("user_id");
            var userPw = document.getElementById("user_pw");
            var userPc = document.getElementById("user_pw_check");
            var username = document.getElementById("user_name");
            var useremail = document.getElementById("user_email");
            var userphone = document.getElementById("user_phone");
            var userbirth = document.getElementById("user_birth-1").value + document.getElementById("user_birth-2").value + document.getElementById("user_birth-3").value;
            console.log(userbirth)






            // 아이디 값이 없을 경우
            if (userId.value == "") {
                alert("ID를 입력해주세요.");
                return false;
            }

            // 아이디가 4~12자리 영문대소문자와 숫자조합으로만 입력되게
            if (!RegExp.test(userId.value)) {
                alert("아이디를 4~12자리 영문대소문자와 숫자로만 입력해주세요");
                console.log("아 좀 떠라");
                return false;
            }
            if (userId.value == "") {
                alert("ID를 입력해주세요.");
                return false;
            }

            // 비밀번호가 8자 이상으로 특수문자 입력 << 왜 여기로만 넘어가고 만족해도 안넘어가지?

            if (!pwExp.test(userPw.value)) {
                alert("비밀번호를 확인해주세요. \n최소 1개 이상의 소문자, 대문자, 숫자, 특수문자로 구성되어야 하며 길이는 8자리 이상 20자리 이하여야 합니다.");
                return false;
            }

            //password_check가 입력되지 않을 경우

            if (userPc.value == "") {
                alert("password_Check가 입력되지 않았습니다.");
                return false;
            }

            //password_check와 password가 일치하지 않을 경우

            if (userPc.value != userPw.value) {
                alert("password와 passwordCheck값이 다릅니다.");
                return false;
            }

            // 이름이 한글(2글자 이하)이거나, 영어 2~10글자 + 2~10글자가 아닌 경우 (예시 sam smith)
            if (!nameExp.test(username.value)) {
                alert("이름을 확인해주세요.");
                return false;
            }

            if (emailExp.test(useremail.value) == false) {
                alert("이메일 형식이 올바르지 않습니다.")
                return false;
            }

            if (!phoneExp.test(userphone.value)) {
                alert("휴대폰번호 형식(11자리)이 올바르지 않습니다.")
                return false;
            }


            if (!birthExp.test(userbirth)) {
                alert("생년월일이 올바르지 않습니다.")
                return false;
            }



        }

        function idchk() {
            let data = JSON.parse('{{ data | safe }}');
            var userId = document.getElementById("user_id");
            var RegExp = /^[a-zA-Z0-9]{4,12}$/; // 아이디 유효성 검사
            console.log(data) // 0~4까지 아이디 각자 뜨는거 확인완료
            console.log(typeof (data))
            console.log(userId.value)
            lastid = data.some(v => v.ID === userId.value); // some으로 배열에 있는 값과 변수를 정확히비교(===)
            console.log(lastid)

            if (lastid == true) {
                alert("이미 사용중인 아이디입니다.")
                return false
            }
            else if (RegExp.test(userId.value) == false) {
                alert("아이디를 확인해주세요.")
                return false
            }
            else {
                alert("사용가능한 아이디입니다.")
                return false
            }
        }

        $(document).on("click", ".mail_check_button", function (code) {// 쿼리로 작성연습 해보기
            var email = $(".join-mail_input").val();            // 입력한 이메일
            var cehckBox = $(".mail_check_input");        // 인증번호 입력하는곳
            var boxWrap = $(".mail_check_input_box");    // 인증번호 입력하는곳의 박스

            code = ""; //코드값 임시저장을 위한 변수 
            console.log(email)
            let randomStr = Math.random().toString(36).substring(2, 8); // 랜덤변수

            $.ajax({

                type: "post",
                url: '/mailcheck',
                data: {
                    email: email, // flask에 이메일과 랜덤코드를 보내자
                    code: randomStr,
                },
                dataType: 'json',

                success: function (data) {
                    cehckBox.attr("disabled", false); // attr : 속성(attribuce)의 값을 가져오거나 추가한다.
                    boxWrap.attr("id", "mail_check_input_box_true"); // 이메일 인증 입력란[$(".mail_check_input_box")]의 색상이 변경
                    code = randomStr; // 랜덤변수 데이터로 넘어간 것 code로 저장
                    alert(data["msg"]);

                    console.log("data : " + code);
                }

                // });

            });
            $(document).on("blur", ".mail_check_input", function () {
                var inputCode = $(".mail_check_input").val();        // 입력코드    
                var checkResult = $("#mail_check_input_box_warn");    // 비교결과출력
                console.log("코드data : " + code);
                $(document).on("click", ".mail_auth_button", function () {
                    if (inputCode == code) {                            // 일치할 경우
                        checkResult.html("인증완료");
                        checkResult.attr("class", "correct");
                    } else {                                            // 일치하지 않을 경우
                        checkResult.html("인증번호를 다시 확인해주세요.");
                        checkResult.attr("class", "incorrect");
                    }

                });
            });
        });

        /* 인증번호 비교 */

    </script>

</head>

<body>
    {% include 'Board/header.html' %}
    <div class="main-div">
        <section class="main-section">
            <div class="title-area">
                <div class="inner">
                    <div class="public-list">
                        <ol class="public-ol">
                            <li class="public-li">index</li>
                            <li class="public-li">로그인</li>
                            <li class="public-li">간편 회원가입</li>
                        </ol>
                    </div>
                    <div class="public-title">
                        회원가입
                    </div>
                    <div class="public-title-sub">
                        회원가입을 하시면 더 많은 기능들을 이용하실 수 있습니다.
                    </div>
                </div>
            </div>
            <hr class="public-hr" />
            <div class="login-form-div">

                <form class="login-form" action="/join_proc" method="post" onsubmit="return Validation();">
                    <div>
                        <input class="join-input" type="text" name="user_id" id="user_id" placeholder="ID"
                            maxlength="12">
                        <input class="join-check"type="button" value="중복 확인" id="btmCheck" onclick="idchk()" />
                    </div>
                    <input class="join-input" type="password" name="user_pw" id="user_pw" placeholder="PassWord">
                    <input class="join-input" type="password" name="user_pw_check" id="user_pw_check"
                        placeholder="Password_check">
                    <input class="join-input" type="text" name="user_name" id="user_name" placeholder="Name">

                    <!-- 인증번호 공간 --><input class="join-mail_input" type="text" name="user_email" id="user_email"
                        placeholder="email">
                    <div class="mail_check_button" id="mail_check_button">
                        <span>인증 요청</span>
                    </div>

                    <div class="mail_check_wrap">
                        <div class="mail_check_input_box" id="mail_check_input_box_false">
                            <input class="mail_check_input" disabled="disabled">
                            <div class="mail_auth_button" id="mail_auth_button">
                                <span>인증 확인</span>
                            </div>
                        </div>
                        


                        <div class="clearfix"></div>
                        <span id="mail_check_input_box_warn"></span> <!-- 일치여부 경고 -->
                    </div>
                    <!-- 인증번호 공간 -->
                    <input class="join-input" type="text" name="user_phone" id="user_phone" placeholder="Phone Number"
                        maxlength="11">
                    <input class="join-input-birth-first" type="text" name="user_birth-1" id="user_birth-1"
                        placeholder="YYYY" maxlength="4">
                    <input class="join-input-birth" type="text" name="user_birth-2" id="user_birth-2" placeholder="MM"
                        maxlength="2">
                    <input class="join-input-birth-end" type="text" name="user_birth-3" id="user_birth-3"
                        placeholder="DD" maxlength="2">

                <form class="login-form" action="/join_proc" method="post">
                    <hr />
                    <div class="join-check-all">
                        <input type="checkbox" name="terms" value="selectAll" onclick="selectAll(this)" /><b>모두 확인하였으며
                            동의합니다.</b>
                        <p>전체 동의에는 필수 및 선택 정보에 대한 동의가 포함되어 있으며, 개별적으로 동의를 선택 하실 수 있습니다. 선택 항목에 대한 동의를 거부하시는 경우에도 서비스
                            이용이
                            가능합니다.</p>
                    </div>
                    <div class="join-check-area">
                        <div class="join-check-list">
                            <input type="checkbox" name="terms" value="select-essential-1" required /><b>[필수] 만 14세
                                이상입니다.</b><br />
                        </div>
                        <div class="join-check-list">
                            <input class="join-check-list" type="checkbox" name="terms" value="select-essential-2"
                                required /><b>[필수]
                                잡아라 이용약관 동의.</b><br />
                        </div>
                        <div class="join-check-list">
                            <input class="join-check-list" type="checkbox" name="terms" value="select-essential-3"
                                required /><b>[필수]
                                개인정보 수집 및 이용 동의.</b><br />
                        </div>
                        <div class="join-check-list">
                            <input type="checkbox" name="terms" value="select-essential-4" /><b>[필수] 개인정보 제3자 제공
                                동의.</b><br /></div>
                        <div class="join-check-list">
                            <input type="checkbox" name="terms" value="select-necessary-1" /><b>[선택] 마케팅 목적의 개인정보 수집 및
                                이용
                                동의.</b><br /></div>
                        <div class="join-check-list">
                            <input type="checkbox" name="terms" value="select-necessary-2" /><b>[선택] 광고성 정보 수신
                                동의.</b><br />
                        </div>
                        <div class="join-check-list sub">
                            <input type="checkbox" name="terms" value="select-necessary-3" /><b>[선택] 이메일 수신
                                동의.</b><br />
                        </div>
                        <div class="join-check-list sub">
                            <input type="checkbox" name="terms" value="select-necessary-4" /><b>[선택] SMS, SNS 수신
                                동의.</b><br />
                        </div>
                        <div class="join-check-list sub">
                            <input type="checkbox" name="terms" value="select-necessary-5" /><b>[선택] 앱 푸시 수신
                                동의.</b><br />
                        </div>
                    </div>
                    <input class="join-submit" type="submit" value="가입하기">
                </form>
            </div>
            <div></div>
        </section>
    </div>
    {% include '/Board/footer.html' %}

</body>

</html>