<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>상세조건 검색</title>
</head>

<body>
    {% include 'Board/header.html' %}
    <div class="main-div">
        <section class="main-section">
            <div class="title-area">
                <div class="inner">
                    <div class="public-list">
                        <ol class="public-ol">
                            <li class="public-li aos-item" data-aos="fade-right">index</li>
                            <li class="public-li aos-item" data-aos="fade-right">트렌드</li>
                            <li class="public-li aos-item" data-aos="fade-right">구직 트렌드</li>
                        </ol>
                    </div>
                    <div class="public-title aos-item" data-aos="fade-up">
                        구직 트렌드
                    </div>
                    <div class="public-title-sub aos-item" data-aos="fade-left">
                        현재 구직에 관한 트렌드를 한눈에 들여다보세요.
                    </div>
                </div>
            </div>
            <article class="content-p-area bg-75">
                <div class="trend-wrap">
                    <h1 class="title">한눈에 보는 고용통계</h1>
                    <div class="trend-board">
                        <div class="trend-board-top">
                            <div>
                                <!-- 하드코딩  -->
                                <h3>구인인원(9월)</h3>
                                <p>사업장 규모별 (전년동월대비 증감률)</p>
                                <p>5인 미만 : 51,072 명 (12.9%)</p>
                                <p>5인~29인 : 120,023 명 (25.55%)</p>
                                <p>30인~99인 : 69,291 명 (40.63%)</p>
                                <p>100인~299인 : 26,614 명 (46.25%)</p>
                                <p>300인~999인 : 14,198 명 (63.72%)</p>
                                <p>1000 이상 : 12,810 명 (47.78%)</p>
                            </div>
                            <div>
                                <h3>294,008 명</h3>
                                <div style="width: 100%; height: 100%;">
                                    <!--차트가 그려질 부분-->
                                    <canvas id="myChart"></canvas>
                                </div>
                            </div>
                            <div>
                                <img src="https://eis.work.go.kr/static/images/main/icon-new-job.png"
                                    alt="실업급여지급액아이콘이미지">
                                <h3>구직건수(09월)</h3>
                                <h3>350,690 명</h3>
                            </div>
                            <div>
                                <img src="https://eis.work.go.kr/static/images/main/icon-new-person.png"
                                    alt="실업급여지급자수아이콘이미지">
                                <h3>채용인원(09월)</h3>
                                <h3>128,286 명</h3>
                            </div>
                        </div>
                        <h4>(전년동월대비 증감률)</h4>
                        <div class="trend-board-bottom">
                            <div class="trend-grid">
                                <div class="aos-item" data-aos="fade-right">
                                    <p>구직건수(09월)</p>
                                    <div class="left">350,690 명</div>
                                    <div class="right down">-8.85%</div>
                                </div>
                                <div class="aos-item" data-aos="fade-up">
                                    <p>구인인원(09월)</p>
                                    <div class="left">
                                        294,008 명</div>
                                    <div class="right up">30.3%</div>
                                </div>
                                <div class="aos-item" data-aos="fade-right">
                                    <p>채용인원(09월)</p>
                                    <div class="left">128,286 명</div>
                                    <div class="right down">-14.01%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <div class="compony-frame aos-item" data-aos="fade-right">
                <h1 class="title">한눈에 보는 구직통계</h1>
                <div class="trend-div">
                    <div class="trend-divi aos-item" data-aos="fade-right">
                        <h1 class="title">연령별</h1>
                        <hr>
                        <div style="width: 85%; height: 100%;">
                            <canvas id="age"></canvas>
                        </div>
                    </div>
                    <div class="trend-divi aos-item" data-aos="fade-right">
                        <h1 class="title">성별</h1>
                        <hr>
                        <div class="trend-divi green aos-item" data-aos="fade-down-left">
                            <h3>남</h3>
                            <span class="icon man"></span>
                            <h2>42%</h2>
                            <h5>(146,752명)</h5>
                        </div>
                        <div class="trend-divi pink aos-item" data-aos="fade-up-left">
                            <h3>여</h3>
                            <span class="icon woman"></span>
                            <h2>58%</h2>
                            <h5>(203,938명)</h5>
                        </div>
                    </div>
                </div>
                <div class="trend-div aos-item" data-aos="fade-up">
                    <h1 class="title">직업별</h1>
                    <hr>
                    <div class="trend46 w60">
                        <div style="width: 100%; height: 100%;">
                            <canvas id="value"></canvas>
                        </div>
                    </div>
                    <div class="trend46 w40">
                        <div>
                            <p>A : 제조업</p>
                            <p>B : 보건업 및 사회복지 서비스</p>
                            <p>C : 사업시설 관리, 사업 지원 및 입대 서비스업</p>
                            <p>D : 도매 및 소매업</p>
                            <p>E : 건설업</p>
                            <p>F : 가구 내 고용활동 및 달리 분류되지않은 자가소비 생산활동</p>
                            <p>G : 농업, 임업 및 어업</p>
                            <p>H : 전문, 과학 및 기술 서비스업</p>
                            <p>I : 운수 및 창고업</p>
                            <p>J : 숙박 및 음식점업</p>
                        </div>
                    </div>
                </div>
                <div class="trend-div">
                    <div class="trend-button-box">
                        <button class="trend-button">구직건수</button>
                        <button class="trend-button">구인인원</button>
                        <button class="trend-button">취업건수</button>
                    </div>
                    <div>

                    </div>
                </div>
            </div>
        </section>

    </div>
    {% include '/Board/footer.html' %}
</body>
<script src="../../static/js/aos.js"></script>
<script>
    AOS.init({
        easing: 'ease-in-out-sine'
    });
</script>
<script type="text/javascript">
    var context = document
        .getElementById('myChart')
        .getContext('2d');
    var myChart = new Chart(context, {
        type: 'doughnut', // 차트의 형태
        data: { // 차트에 들어갈 데이터
            labels: [
                //x 축
                '5인 미만', '5인~29인', '30인~99인', '100인~299인', '300인~999인', '1000 이상'
            ],
            datasets: [{ //데이터
                    label: 'test1', //차트 제목
                    fill: false, // line 형태일 때, 선 안쪽을 채우는지 안채우는지
                    data: [
                        51072, 120023, 69291, 26614, 14198, 12810 //x축 label에 대응되는 데이터 값
                    ],
                    backgroundColor: [
                        //색상
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        //경계선 색상
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1 //경계선 굵기
                }
                /* ,
                                {
                                    label: 'test2',
                                    fill: false,
                                    data: [
                                        8, 34, 12, 24
                                    ],
                                    backgroundColor: 'rgb(157, 109, 12)',
                                    borderColor: 'rgb(157, 109, 12)'
                                } */
            ]
        },

    });
    var context = document
        .getElementById('age')
        .getContext('2d');
    var myChart = new Chart(context, {
        type: 'bar', // 차트의 형태
        data: { // 차트에 들어갈 데이터
            labels: [
                //x 축
                '19세 이하', '20~24세', '25~29세', '30~34세', '35~39세', 
                '40~44세', '45~49세', '50~54세', '55~59세', '60~64세', 
                '65세 이상', '무관'
            ],
            datasets: [{ //데이터
                    label: '연령별 차트', //차트 제목
                    fill: false, // line 형태일 때, 선 안쪽을 채우는지 안채우는지
                    data: [
                        3258, 37302, 49632, 33168, 29594, 
                        35054, 33261, 35194, 30530, 39555, 
                        24142, 0 //x축 label에 대응되는 데이터 값 구직건수 
                    ],
                    backgroundColor: [
                        //색상
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 99, 132, 0.2)'
                    ],
                    borderColor: [
                        //경계선 색상
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(255, 99, 132, 0.2)'
                    ],
                    borderWidth: 1 //경계선 굵기
                }
                /* ,
                                        {
                                            label: 'test2',
                                            fill: false,
                                            data: [
                                                8, 34, 12, 24
                                            ],
                                            backgroundColor: 'rgb(157, 109, 12)',
                                            borderColor: 'rgb(157, 109, 12)'
                                        } */
            ]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
    var context = document
        .getElementById('value')
        .getContext('2d');
    var myChart = new Chart(context, {
        type: 'bar', // 차트의 형태
        data: { // 차트에 들어갈 데이터
            labels: [
                //x 축
                'A', 'B','C','D','E','F','G','H','I','J'
            ],
            datasets: [{ //데이터
                    label: '직업별 차트', //차트 제목
                    fill: false, // line 형태일 때, 선 안쪽을 채우는지 안채우는지
                    data: [
                        41, 15, 9, 6, 5, 4, 3, 3, 3, 3 //x축 label에 대응되는 데이터 값
                    ],
                    backgroundColor: [
                        //색상
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        //경계선 색상
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1 //경계선 굵기
                }
                /* ,
                                        {
                                            label: 'test2',
                                            fill: false,
                                            data: [
                                                8, 34, 12, 24
                                            ],
                                            backgroundColor: 'rgb(157, 109, 12)',
                                            borderColor: 'rgb(157, 109, 12)'
                                        } */
            ]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>
<script>
function checkbox_test() {
  $.ajax({
    type: "GET",
    // url: "/search",
    // dataType: "json",
    data: param,
    success: function () {
    },
  });
}

</script>
</body>

</html>
